body {
    font-weight: 700;
    margin: 2% auto ;
    margin-bottom: 15px;
    width: 97%;
    color: white;
    margin-bottom: 5%;

 }
 body, .grad{
    height: 770px;
        background-image: url(image/last_of_us2.jpg);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;

        margin-bottom: 5%;
 }
 
 img{
    border-radius: 50%;
    width: 200px;
    height: 200px;  
 }

 .gallery{
  border-radius: 0%;
 }
    
 .intro{
         font-family: 'Times New Roman', Times, serif;
         font-weight:  900px;
         font-size: 17.5px;
    }  
a:hover{
    font-size: 110%;
    color:#FDEEDC;
    background-color: #000000;
}

img:hover{
    width: 210px;
    height: 210px;
}

hr{
	border-top: 1px dashed black;
    text-shadow: black;
}


th, td {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 17px;
}

h2.Top1{
    position: sticky;
    top: 3%;
    font-size: 18px;
}

h2.Top2{
    position: sticky;
    top: 3%;
    font-size: 18px;
}

h2.Top3{
    position: sticky;
    top: 3%;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: white;
}

  a:visited {
    color: rgb(195, 195, 195);
    background-color: transparent;
    text-decoration: none;
}
  a:hover {
    color: #ba4f25;
    background-color: transparent;
    text-decoration: underline;
    font-size: 150%;
}
  a:active {
    background-color: transparent;
    text-decoration: underline;
}

.active1{
    font-size: 30px;
    text-decoration: underline;  
    text-shadow: 1px 1px black;
  }
  
  div{
    padding-right: 50px;
   
    text-align: right;
    position: sticky;
    top: 0%;
    right: 0;
    
  }
  .div1edu{
    text-align: right;
  }

  div a{
    margin: 20px 10px;
    font-size: 18px;

  }

  

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    
  } 
  
  ::-webkit-scrollbar-thumb {
    background: #ba4f25db; 
    
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:  #ba4f25db; 
  }
  