body {
    background: linear-gradient(#FDEEDC, #FFD8A9, #F1A661);  
    font-weight: 700;
    margin: 2% auto ;
    width: 97%;
    color: white;
 }
 body, .grad{
    height: 770px;
        background-color: rgb(241, 166, 97);/* For browsers that do not support gradients */
        background-image: url(image/last_of_us2.jpg);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
 }
 
 img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
 }
    
 .intro{
         font-family: 'Times New Roman', Times, serif;
         font-weight:  900px;
         font-style: italic;
    }  



a:hover{
    font-size: 110%;
    color:#FDEEDC;
    background-color: #000000;
}

img:hover{
    width: 210px;
    height: 210px;
}

hr{
	border-top: 1px dashed black;
    text-shadow: black;
}


th, td {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
}

h2.Top1{
    position: sticky;
    top: 3%;
    font-size: 18px;
}

h2.Top2{
    position: sticky;
    top: 3%;
    font-size: 18px;
}

h2.Top3{
    position: sticky;
    top: 3%;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: white;
}

  a:visited {
    color: rgb(0, 120, 0);
    background-color: transparent;
    text-decoration: none;
}
  a:hover {
    color: rgb(0, 120, 0);
    background-color: transparent;
    text-decoration: underline;
    font-size: 250%;
}
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
 
}

.active1{
    font-size: 30px;
    text-decoration: underline;  
    text-shadow: 1px 1px black;
  }
  div{
    padding-right: 50px;
    text-align: right;
    position: sticky;
    top: 0%;
    right: 0;
    
  }
  .div1edu{
    text-align: right;
  }

  div a{
    margin: 20px 10px;
    font-size: 18px;

  }